<html>
<head>
    <meta charset="UTF-8"/>
    <title>New Post</title>
</head>
<body>

    <h1>New Post</h1>

    <form action="/save-post" method="post">
        <p>
            <label>Your Name:</label><br>
            <input type="text" name="name" required />
        </p>
        <p>
            <label>Subject:</label><br>
            <input type="text" name="subject" required />
        </p>
        <p>
            <label>Message:</label><br>
            <textarea name="content" rows="5" cols="40" required></textarea>
        </p>

        <input type="submit" value="Publish Post" />
    </form>

    <p><a href="/">🔙 Back to Board</a></p>

</body>
</html>